# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
!kSACommInterface.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

#Wix build stuff
bin/
obj/

#Visual Studio stuff
*.suo